body {
    font-family: Georgia, 'Times New Roman', serif;
    background-color: #faebd7;
    color: #800000;
}

img {
    height: auto;
    width: 400px;
    margin: auto;
    display: block;
}

h1,
.cite {
    text-align: center;
}

p,
li {
    font-size: 18px;
}

.recipe_list {
    padding: 0;
}

.recipe_list li {
    list-style-type: none;
}